{% extends "base.html" %}

{% block content %}
<div class="confirmation-container">
    <h1>Registro realizado com sucesso!</h1>
    <p>Agora você pode fazer login usando suas credenciais.</p>
    <a href="{{ url_for('login') }}">
        <button type="button">Login</button>
    </a>
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<ul class="flashes">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <li class="{{ message.category }}">{{ message }}</li>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </ul>
{% endblock %}
