{% extends "base.html" %}

{% block content %}
    <div class="title">Aposta Criada com Sucesso</div>
    <p>Nome da Aposta: {{ bet_name }}</p>
    <p>Valor da Aposta: {{ bet_value }}</p>

    <div class="button-container">
        <a href="{{ url_for('home') }}">
            <button type="button">Voltar para Home</button>
        </a>
        <a href="{{ url_for('list_bets') }}">
            <button type="button">Ver Todas as Apostas</button>
        </a>
    </div>
    <ul class="flashes">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <li class="{{ message.category }}">{{ message }}</li>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </ul>
{% endblock %}
