<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos Agora</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">

        <h1 class="title">Eventos Cadastrados</h1>
        
        {% if events %}
            <table class="event-table">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Valor da Cota</th>
                        <th>Início das Apostas</th>
                        <th>Fim das Apostas</th>
                        <th>Data do Evento</th>
                        <th>Ações</th> <!-- Coluna para ações -->
                    </tr>
                </thead>
                <tbody>
                    {% for evento in events %}
                    <tr>
                        <td>{{ evento[1] }}</td> <!-- Título do evento -->
                        <td>{{ evento[2] }}</td> <!-- Descrição do evento -->
                        <td>R$ {{ evento[3] }}</td> <!-- Valor da cota -->
                        <td>{{ evento[4] }}</td> <!-- Início das apostas -->
                        <td>{{ evento[5] }}</td> <!-- Fim das apostas -->
                        <td>{{ evento[6] }}</td> <!-- Data do evento -->
                        <td>
                            <form action="{{ url_for('delete_event', event_id=evento[0]) }}" method="POST" style="display:inline;">
                                <button type="submit" onclick="return confirm('Tem certeza que deseja excluir este evento?');">Excluir</button>
                            </form>
                        </td> <!-- Botão para excluir -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="no-events">Nenhum evento encontrado.</p>
        {% endif %}
    </div>
    <div class="button-container">
        <a href="{{ url_for('admin_dashboard') }}"><button>Voltar para tela de gerenciamento</button></a>
    </div>
    <ul class="flashes">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <li class="{{ message.category }}">{{ message }}</li>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </ul>
</body>
</html>
