{% extends "base.html" %}

{% block content %}
<div class="home-container">
    <div class="welcome-section">
        <h1>Bem-vindo à Aposta VIP!</h1>
        
        {% if session.get('username') %}
            <h2>Bem vindo a Aposta VIP {{ session['username'] }}!</h2>
        {% else %}
            <h2>Olá, Usuário!</h2>
        {% endif %}
        
    </div>

    <div class="actions-section">
        <a href="{{ url_for('create_bet') }}" class="btn">
            <button type="button" class="action-btn">Criar Evento</button>
        </a>

        <a href="{{ url_for('listar_eventos') }}" class="btn">
            <button type="button" class="action-btn">Listar Eventos</button>
        </a>

        {% if session.get('user_id') %}
        <a href="{{ url_for('wallet', user_id=session['user_id']) }}" class="btn">
            <button type="button" class="action-btn">Minha Wallet</button>
        </a>
        
        <!-- Botão para o perfil do usuário -->
        <a href="{{ url_for('user_profile') }}" class="btn">
            <button type="button" class="action-btn">Meu Perfil</button>
        </a>
        {% else %}
        <p class="info-text">Por favor, faça login para acessar sua wallet e perfil.</p>
        {% endif %}

        <a href="{{ url_for('meus_eventos') }}" class="btn">
            <button type="button" class="action-btn">Meus Eventos</button>
        </a>

        <a href="{{ url_for('jogo') }}" class="btn">
            <button type="button" class="action-btn">Dados</button>
        </a>

        <a href="{{ url_for('jogo_cor') }}" class="btn">
            <button type="button" class="action-btn">Jogo da Cor</button>
        </a>

        <a href="{{ url_for('logout') }}" class="btn">
            <button type="button" class="logout-btn">Logout</button>
        </a>
    </div>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<ul class="flashes">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <li class="{{ message.category }}">{{ message }}</li>
        {% endfor %}
    {% endif %}
    {% endwith %}
</ul>
{% endblock %}
