{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<form method="POST" action="{{ url_for('login') }}">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Entrar</button>
</form>

<!-- Botão Criar Conta -->
<a href="{{ url_for('register') }}">
    <button type="button">Criar uma Conta</button>
</a>

<!-- Botão Voltar para a Tela Inicial -->
<a href="{{ url_for('ola_controller') }}">
    <button type="button">Voltar para a Tela Inicial</button>
</a>
<ul class="flashes">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <li class="{{ message.category }}">{{ message }}</li>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </ul>
{% endblock %}
