{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styless.css') }}">
</head>
<body>
    <div class="profile-container">
        <h1>Perfil de {{ user_info[0] }}</h1>
        
        <div class="user-details">
            <h2>Informações Pessoais</h2>
            <p><strong>Nome:</strong> {{ user_info[0] }}</p>
            <p><strong>Email:</strong> {{ user_info[1] }}</p>
            <p><strong>Data de Nascimento:</strong> {{ user_info[2] }}</p>
            <p><strong>Saldo na Wallet:</strong> R$ {{ user_info[3] }}</p>
        </div>

        <div class="button-container">
            <a href="{{ url_for('home') }}" class="btn">
                <button type="button" class="action-btn">Voltar para Home</button>
            </a>
        </div>
    </div>
</body>
{% endblock %}
