{% extends "base.html" %}

{% block content %}
<h1>Minha Wallet</h1>
<p>User: {{username}}</p>
<p>Valor disponível: R$ {{ wallet|float }}</p>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<div>
    <a href="{{ url_for('home') }}">
        <button type="button">Voltar para Home</button>
    </a>
</div>

{% if session.get('user_id') %}
    <a href="{{ url_for('deposito', user_id=session['user_id']) }}">
        <button type="button">Depositar</button>
    </a>
{% else %}
    <p>Por favor, faça login para acessar sua wallet.</p>
{% endif %}

{% if session.get('user_id') %}
    
    <a href="{{ url_for('sacar', user_id=session['user_id']) }}">
        <button type="button">Sacar</button>
    </a>
{% else %}
    <p>Por favor, faça login para acessar sua wallet.</p>
{% endif %}
<ul class="flashes">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <li class="{{ message.category }}">{{ message }}</li>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </ul>
{% endblock %}
